development: &default
  adapter: postgresql
  encoding: unicode
  database: phobos-db-checkpoint
  user: postgres
  host: localhost
  port: 5432

test: &test
  <<: *default
  database: phobos-db-checkpoint-test
